@model IEnumerable<TiendaTennis.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}



<style>
    body {
        background-image: url(/img/imagenfondo.jpg);
        
    }
</style>
<p>
    <a asp-action="Create">Agregar Nuevo Cliente</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4 mt-4">

            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header">Nombre: @Html.DisplayFor(modelItem => item.Nombre)</div>
                <div class="card-body">
                    <img src="https://ummuba.ac.id/an-component/pengurus//dafaultpegawai.jpg" class="card-img-top" alt="">

                    <h5 class="card-title">Apellido:  @Html.DisplayFor(modelItem => item.Apellido)</h5>
                    <h5 class="card-title">Correo:   @Html.DisplayFor(modelItem => item.Correo)</h5>
                    <h5 class="card-title">Telefono:  @Html.DisplayFor(modelItem => item.Telefono)</h5>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark">Eliminar</a>

                </div>
            </div>

        </div>

    }
</div>