@model IEnumerable<TiendaTennis.Models.Producto>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Agregar Nuevo Producto</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
          <div  class="col-4 mt-4">

    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
    <div class="card-header">@Html.DisplayFor(modelItem => item.Producto1)</div>
  <div class="card-body">
      <img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/27dccc44-1449-4372-9ad8-177a025e47f6/calzado-air-jordan-7-retro.png" class="card-img-top" alt="">
                    <h5 class="card-title">Precio: @Html.DisplayFor(modelItem => item.Precio)</h5>
                    <h5 class="card-title">Stok:  @Html.DisplayFor(modelItem => item.Stok)</h5>
                    <h5 class="card-title">   @Html.DisplayFor(modelItem => item.Descripcion)</h5>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark">Eliminar</a>
    
      </div>
</div>

    </div>

    }
  </div>